.user-list {
  padding: 16px;
}

.user-card {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  transition: background-color 0.3s;
}

.user-card-link {
  text-decoration: none;
  color: inherit;
  display: block; /* Make the link block-level to cover the whole card */
}

.user-card-link:hover .user-card {
  background-color: #f1f1f1;
}

.initials-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 12px;
}

.user-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info h3 {
  font-size: 16px;
  margin: 0;
}

.follow-button {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

.follow-button:hover {
  background-color: #0d95e8;
  color: white;
}

.user-list-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px; 
}
